body {
    background-color:blanchedalmond;
    margin: 0;
    padding: 0;
    border: 0;
}
header {
    background-color: darkolivegreen;
    position:-webkit-sticky;
    position: sticky;
    top: 0;
    margin: 5px auto;
    padding: 5px;
    border-radius: 8px;
    border: 2px solid;
    max-width: fit-content;
    display: flex;
    flex-direction: column;
}
h1 {
    padding: 5px;
    margin: 5px auto;
    background-color:peru;
    border: 3px solid;
    text-align: center;
    font-size: 45px;
    width: 800px;
}
nav {
    padding: 5px;
    margin: 5px auto;
    background-color: burlywood;
    border: 3px solid;
    text-align: center;
    width: 300px;
}
#navigation{
    display: inline-block;
    padding: 0px 15px;
    margin: 0 auto;
}
#leader {
    padding: 5px;
    margin: 5px auto;
    background-color: burlywood;
    border: 3px solid;
    text-align: center;
    width: 500px;
    font-size: 20px;
}
#blogs {
    display: flex;
    margin: 5px auto;
    max-width: 1300px;
}
article {
    background-color: darkolivegreen;
    padding: 5px;
    border: 3px solid;
    margin: 5px;
    border-radius: 5px;
}
article:nth-of-type(1) {
    flex: 2;
}
article:nth-of-type(2) {
    flex: 2;
    height: min-content;
}

p {
    padding: 5px;
    margin: 5px;
    border: 1px dashed;
    background-color: burlywood;
}
.time {
    margin: 5px 5px 0px 5px
}
address {
    padding: 5px;
    margin: 2px 5px;
    background-color: burlywood;
    border: 1px dashed;
}
h2 {
    margin: 5px;
    padding: 5px;
    background: peru;
    text-align: center;
    border: 3px solid;
}
h3 {
    margin: 5px auto;
    padding: 5px;
    background: rgb(196, 145, 94);
    text-align: center;
    border: 3px solid;
    width: 700px;
    font-size: 25px;
}
#newsletter {
    background-color: darkolivegreen;
    padding: 5px;
    margin: 5px auto;
    border: 3px solid;
    border-radius: 8px;
    width: 500px;
}
.newslettertext {
    border: 3px solid;
    width: fit-content;
    margin: 5px auto;
}
table, th, td {
    background-color: white;
    margin: auto;
    border: 1px solid;
    text-align: center;
}
img {
    display: block;
    margin: auto;
    width: 100%;
}
#aboutpic{
    float: right;
    width: 75%;
    margin-left: 5px;
}
button {
    padding: 5px;
    font-size: medium;
    display: block;
    margin: 0 auto;
}
#about {
    display: flex;
    flex-direction: column;
    margin: 5px;
}
.abouttitle {
    width: fit-content;
    font-size: 30px;
    margin: 0 auto;
}
.aboutcontent {
    text-align: center;
    width: fit-content;
    max-width: 1100px;
    margin: 10px auto;
    display: flex;
    flex-wrap: wrap;
}
#funthings {
    display: inline-block;
    padding: 5px 20px;
    margin: 5px auto;
    font-size: 20px;
    border: 1px dotted;
    background-color: white;
}
#travel {
    max-width: 600px;
    margin: 5px auto;
    font-size: 20px;
    text-align: left;
    background-color: white;
}
#contact {
    display: flex;
    flex-direction: column;
    margin: 5px auto;
    width: fit-content;
}
@media screen and (max-width: 870px) {
    body {
        background-color: grey;
    }
    header {
        background-color: rgb(103, 172, 172);
        padding: 2px;
    }
    h1 {
        background-color: darkseagreen;
        max-width: 550px;
        font-size: 35px;
        margin: 2px auto;
        padding: 2px;
    }
    h2 {
        background-color: darkseagreen;
    }
    nav {
        background-color: white;
        font-size: 18px;
        margin: 2px auto;
        padding: 2px;
    }
    #leader {
        background-color: white;
        font-size: 17px;
        margin: 2px auto;
        padding: 2px;
    }
    article {
        background-color: rgb(103, 172, 172);
    }
    p {
        background-color: white;
        font-size: 18px;
    }
    address {
        background-color: white;
        font-size: 18px;
    }
    #newsletter {
        background-color: rgb(103, 172, 172);
        margin: 2px auto;
        padding: 2px;
    }
    .newslettertext {
        font-size: 17px;
        margin: 2px auto;
        padding: 2px;
    }
    h3 {
        background-color: darkseagreen;
        max-width: 500px;
    }
}
@media screen and (max-width: 615px) {
    body {
        background-color:rgb(103, 49, 103)
    }
    header {
        background-color:indianred;
        padding: 2px;
    }
    h1 {
        background-color:antiquewhite;
        max-width: 300px;
        font-size: 35px;
        margin: 2px auto;
        padding: 2px;
    }
    h2 {
        background-color: antiquewhite;
        font-size: 20px;
    }
    nav {
        background-color: cornsilk;
        font-size: 18px;
        margin: 2px auto;
        padding: 2px;
        max-width: fit-content;
    }
    #leader {
        background-color: cornsilk;
        font-size: 19px;
        margin: 2px auto;
        padding: 2px;
        max-width: fit-content;
    }
    article {
        background-color: indianred;
    }
    p {
        background-color:cornsilk;
        font-size: 18px;
    }
    address {
        background-color: cornsilk;
        font-size: 19px;
    }
    #newsletter {
        background-color: indianred;
        margin: 2px auto;
        padding: 2px;
        max-width: 340px;
    }
    .newslettertext {
        font-size: 17px;
        margin: 2px auto;
        padding: 2px;
    }
    h3 {
        background-color: antiquewhite;
        max-width: 340px;
    }
}