body {
    background-color:blanchedalmond;
    margin: 0;
    padding: 0;
    border: 0;
}
header {
    background-color: darkolivegreen;
    position:-webkit-sticky;
    position: sticky;
    top: 0;
    margin: 5px auto 5px auto;
    padding: 5px;
    border-radius: 8px;
    border: 2px solid;
    width: fit-content;
}
h1 {
    padding: 5px;
    margin: 5px auto;
    background-color:peru;
    border: 3px solid;
    text-align: center;
    font-size: 45px;
    width: 800px;
}
nav {
    padding: 5px;
    margin: 5px auto;
    background-color: burlywood;
    border: 3px solid;
    text-align: center;
    width: 300px;
}
#navigation{
    display: inline-block;
    padding: 0px 15px;
    margin: 0 auto;
}
#leader {
    padding: 5px;
    margin: 5px auto;
    background-color: burlywood;
    border: 3px solid;
    text-align: center;
    width: 500px;
    font-size: 20px;
}
#blogs {
    display: flex;
    margin: 5px;
}
article {
    background-color: darkolivegreen;
    padding: 5px;
    border: 3px solid;
    margin: 5px;
    border-radius: 5px;
}
article:nth-of-type(1) {
    flex: 2;
}
article:nth-of-type(2) {
    flex: 2;
    height: min-content;
}

p {
    padding: 5px;
    margin: 5px;
    border: 1px dashed;
    background-color: burlywood;
}
.time {
    margin: 5px 5px 0px 5px
}
address {
    padding: 5px;
    margin: 2px 5px;
    background-color: burlywood;
    border: 1px dashed;
}
h2 {
    margin: 5px;
    padding: 5px;
    background: peru;
    text-align: center;
    border: 3px solid;
}
h3 {
    margin: 5px auto;
    padding: 5px;
    background: rgb(196, 145, 94);
    text-align: center;
    border: 3px solid;
    width: 700px;
    font-size: 25px;
}
#newsletter {
    background-color: darkolivegreen;
    padding: 5px;
    margin: auto;
    border: 3px solid;
    border-radius: 8px;
    width: 500px;
}
.newslettertext {
    border: 3px solid;
    width: fit-content;
    margin: 5px auto;
}
table, th, td {
    background-color: white;
    margin: auto;
    border: 1px solid;
    text-align: center;
}
img {
    display: block;
    margin: auto;
    width: 50%;
}
#aboutpic{
    float:right;
    margin-left: 20px;
    width: 50%;
    height: 50%;
}
button {
    padding: 5px;
    font-size: medium;
}
#about {
    display: flex;
    flex-direction: column;
    margin: 5px;
}
.abouttitle {
    width: fit-content;
    font-size: 30px;
    margin: 0 auto;
}
.aboutcontent {
    text-align: center;
    width: 1100px;
    margin: 10px auto;
}
#funthings {
    display: inline-block;
    padding: 5px 20px;
    margin: 5px auto;
    font-size: 20px;
    border: 1px dotted;
    background-color: white;
}
#picp {
    width: 600px;
    margin: 5px auto;
    font-size: 20px;
    text-align: center;
    background-color: white;
}
#contact {
    display: flex;
    flex-direction: column;
    margin: 5px auto;
    width: fit-content;
}